<h1>id:<%= @task.id %>のタスク詳細表示</h1>

<table class="table table-bordered">
  <tr>
    <th>ID</th>
    <td><%= @task.id %></td>
  </tr>
  
  <tr>
    <th>ユーザ名</th>
    <td><%= @task.user.name %></td>
  </tr>  
  
  <tr>
    <th>ユーザID</th>
    <td><%= @task.user_id %></td>
  </tr>
  
  <tr>
    <th>タスク内容</th>
    <td><%= @task.content %></td>
  </tr>
  <tr>
    <th>ステータス</th>
    <td><%= @task.status %></td>
  </tr>
</table>

<% if current_user == @task.user %>
  <%= link_to "このタスクを更新する", edit_task_path(@task),class: "btn btn-default" %>
  <%= link_to "このタスクを削除する", @task, method: :delete, data: {confirm: "本当に削除して宜しいですか？"},class:"btn btn-danger" %>
<% end %>